
@font-face {font-family: "iconfont";
  src: url('/app/iconfont.eot?t=1483494144044'); /* IE9*/
  src: url('/app/iconfont.eot?t=1483494144044#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/app/font_icon/iconfont.woff?t=1483494144044') format('woff'), /* chrome, firefox */
  url('/app/font_icon/iconfont.ttf?t=1483494144044') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/app/font_icon/iconfont.svg?t=1483494144044#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e649"; }

.icon-loading:before { content: "\e64f"; }

.icon-locationfill:before { content: "\e650"; }

.icon-location:before { content: "\e651"; }

.icon-phone:before { content: "\e652"; }

.icon-roundcheckfill:before { content: "\e656"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-roundclosefill:before { content: "\e658"; }

.icon-roundclose:before { content: "\e659"; }

.icon-timefill:before { content: "\e65e"; }

.icon-time:before { content: "\e65f"; }

.icon-warnfill:before { content: "\e662"; }

.icon-warn:before { content: "\e663"; }

.icon-order:before { content: "\e66c"; }

.icon-pay:before { content: "\e673"; }

.icon-send:before { content: "\e675"; }

.icon-shop:before { content: "\e676"; }

.icon-ticket:before { content: "\e677"; }

.icon-more:before { content: "\e684"; }

.icon-shopfill:before { content: "\e697"; }

.icon-form:before { content: "\e699"; }

.icon-pic:before { content: "\e69b"; }

.icon-refund:before { content: "\e6ac"; }

.icon-cart:before { content: "\e6af"; }

.icon-qrcode:before { content: "\e6b0"; }

.icon-remind:before { content: "\e6b2"; }

.icon-cartfill:before { content: "\e6b9"; }

.icon-goods:before { content: "\e6cd"; }

.icon-present:before { content: "\e6d3"; }

.icon-info:before { content: "\e6e5"; }

.icon-forwardfill:before { content: "\e6ea"; }

.icon-forward:before { content: "\e6eb"; }

.icon-rechargefill:before { content: "\e6ec"; }

.icon-recharge:before { content: "\e6ed"; }

.icon-vipcard:before { content: "\e6ee"; }

.icon-barcode:before { content: "\e6fb"; }

.icon-noticefill:before { content: "\e709"; }

.icon-notice:before { content: "\e70a"; }

.icon-picfill:before { content: "\e72c"; }

.icon-presentfill:before { content: "\e732"; }

.icon-peoplefill:before { content: "\e735"; }

.icon-people:before { content: "\e736"; }

.icon-tagfill:before { content: "\e751"; }

.icon-tag:before { content: "\e752"; }

.icon-switch:before { content: "\e667"; }

.icon-refresh:before { content: "\e66a"; }

.icon-delete:before { content: "\e67e"; }

.icon-diamond:before { content: "\e67f"; }

.icon-gift:before { content: "\e681"; }

.icon-share:before { content: "\e68b"; }

.icon-crown:before { content: "\e68d"; }

.icon-my:before { content: "\e690"; }

.icon-qr2:before { content: "\e6a5"; }

.icon-profilefill:before { content: "\e77a"; }

.icon-phonedateicon21:before { content: "\e630"; }

.icon-recordfill:before { content: "\e7a4"; }

.icon-record:before { content: "\e7a6"; }

.icon-youhuiquan:before { content: "\e607"; }

.icon-youhuiquan1:before { content: "\e7bc"; }

.icon-qiandao:before { content: "\e6e1"; }

.icon-newshotfill:before { content: "\e7c4"; }

.icon-newshot:before { content: "\e7c5"; }

.icon-favor_fill_light:before { content: "\e7ec"; }

