//注意这是less语法css不能这样写！！！！！
@radius: .5rem;
@fontSize: .8rem;
@images: './image/psonCenter.jpg';
@buttonColor: #ff5b6e;
@textColor: #fff;
@navColor:#f8f8f8;
@size:3rem;
@size2:2rem;
@iconColor:#40beff;


.home_outbox{
  flex-direction: column;
  height: 100%;
}

.home_nav {
  padding: .5rem 0;
  background-color: @navColor;
    figure {
      width: @size;
      height: @size;
      overflow: hidden;
      border-radius: 999px;
      margin-left: .5rem;
    }
    section {
      display: flex;
      justify-content: space-between;
      flex: 1;
    }
    .button_box{
      align-items: center;
    }
    .text_box{
      padding-left: .5rem;
      line-height: 1.4rem;
      align-items: center;
    }
  button{
    margin-right: .5rem;
  }
}
//二维码
.code_toggle{
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
    section{
      img{
        margin-bottom: 1em;
      }
    }
    .toggle_button{
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: @size2;
      height: @size2;
      justify-content: center;
      align-items: center;
      border-radius: .2rem;
      background-color: rgba(0,198,136,.8);
      border:1px solid #00c688;
        i{
          font-size: 1.5rem;
          font-weight: 400;
          color: @textColor;
        }
    }

  .toggle_button:hover{
    background-color: rgba(0,198,136,1);
  }
}
//菜单
.home_menu{
  .flex_box{
    display: flex;
    justify-content: center;
    margin-top: .25rem;
    align-items: center;
    padding: .5rem 0;
      div{
        color: @textColor;
      }
      i{
        font-size: 1.5rem;
        color: @textColor;
        margin-right: .2rem;
      }
  }
}
//个人中心
.person_center{
  .bg_img{
    padding: .5rem;
    flex-direction: column;
    background: url(@images)0 0 no-repeat;
    background-size: cover;
    height: 10.5rem;
  }
  figure{
    width: @size;
    height: @size;
    overflow: hidden;
    border-radius: 999px;
  }
  .person_box{
      section{
        align-items: center;
        margin-left: .5rem;
      }
      div{
        line-height: 1.2rem;
      }
  }
  .footer_info{
    align-items: flex-end;
    flex: 1;
    li{
      flex: 1;
      text-align: center;
    }
  }
}

//个人中心列表菜单
.list_mu{
    .iconfont{
      font-size: 1.4rem;
      margin-right: .5rem;
      color: @iconColor;
    }
}
.fix_footer{
  position: fixed;
  bottom: .5rem;
  left: 0;
  width: 100%;
}

//个人信息
.people_info{
    padding: .4rem .5rem;
    border-bottom: 1px solid #fafafa;
    i{
      font-size: 1.6rem;
    }
      section{
        flex: 1;
          div{
            display: flex;
            align-items: center;
            padding-left: .5rem;
          }
          .text-right{
            justify-content: flex-end;
          }
      }
}

//会员权益
.vip_interest{
    padding: 0 .5rem;
    .tittle{
      color: #00a2ff;
      i{
        font-size: 1.2rem;
      }
    }
}

//优惠券
.coupon_bg{
  background-color: #f1f1f1;
}
.coupon{
  padding: .5rem;
  .coupon-box{
    height: 100px;
    font-size: .8rem;
    position: relative;
    .vip_text{
      position: absolute;
      top: .4rem;
      left: .1rem;
      background-color: #f64b68;
      color: #fff;
      padding: .1rem .9rem .1rem .6rem;
      border-bottom-right-radius: 999px;
      border-top-right-radius: 999px;
    }
    .vip_text_blue{
      background-color: #00b7f0;
    }
    .content{
      flex: 65%;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding-left: .5rem;
      line-height: 1.3rem;
      color: #4c4c4c;
        section{
            justify-content: center;
            padding-top: 1rem;
            .up_down{
              font-size: 1.5rem;
              font-weight: bold;
              padding-bottom: .2rem;
            }
        }
    }
    .color_bg{
      flex: 35%;
      justify-content: flex-end;
      position: relative;
        .button_get{
          position: absolute;
          top:38%;
          right: .2rem;
            small{
              display: block;
              margin-top: 4px;
              color: #fff;
            }
        }
        a{
          color: #f64b68;
          background-color: #fff;
          border: 4px solid #df445e;
          border-radius: 999px;
          padding: 2px 6px;
        }
        .blue_button{
          color: #00b7f0;
          border: 4px solid #0090bd;
        }
    }
  }
}